body {
    padding-top: 70px;
    /* Ensure no whitespace above the navbar */
}

.navbar {
    padding: 0.5rem 1rem;
}

.header {
    padding: 2rem 0;
}

.footer {
    padding: 1rem 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-bottom: 2rem;
}